
  .text-field {
      -fx-border-style:none;
      -fx-background-color: white;
      -fx-background-radius: 20;
      -fx-background-insets: 0;
      -fx-border-color:  #00AEE7;
      -fx-border-radius: 20;
      -fx-padding: 6 10;
  }

